@import '../global.css';
@import '../styles/layout.css';


.morning {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

color: #000000;
}

    
.image-home{
object-fit: cover;
height: 30vh;
}

@media (min-width: 575px) {
    .image-home{
        height: 40vh;
    }

    @media (min-width: 767px) {
        .image-home{
            height: 45vh;
        }
        @media (min-width: 991px) {
            .image-home{
                height: 50vh;
            }
        }
.first-solve {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #000000;
text-align: right;
margin-top: 10px;
}